<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>932018985621-pdt9vapjvl5lhgu9b1s86ve4van87tod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.932018985621-pdt9vapjvl5lhgu9b1s86ve4van87tod</string>
	<key>API_KEY</key>
	<string>AIzaSyB42ygKzvxYRli574UR5sum7_CSfEXd_8A</string>
	<key>GCM_SENDER_ID</key>
	<string>932018985621</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.supplications.wafaa</string>
	<key>PROJECT_ID</key>
	<string>supplications-c681c</string>
	<key>STORAGE_BUCKET</key>
	<string>supplications-c681c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:932018985621:ios:e1854e7ba29eec75dc599c</string>
</dict>
</plist>